<script>
	//let table = new DataTable('#table-list', {
	//	// options
	//});
</script>
<div class="pcoded-content">
	<!-- [ breadcrumb ] start -->
	<div class="page-header">
		<div class="page-block">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="page-header-title">
						<h5 class="m-b-10">{{ data.title }}</h5>
					</div>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Ikhtisar</a></li>
						<li class="breadcrumb-item">Master data</li>
						<li class="breadcrumb-item">{{ data.title }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- [ breadcrumb ] end -->

	<!-- [ Main Content ] start -->
	<div class="row">
		<!-- support-section start -->
		<div class="col-md-12 col-xl-12">
			<!--<h5>Header and Footer</h5>
			<hr>-->
			<div class="card">
				<h5 class="card-header">{{ data.title }}</h5>
				<div class="card-body">

					<!-- Action buttons -->
					<div class="row mb-4">

						<!-- Export button -->
						<!--<div class="col-md d-flex flex-row">
							<div class="btn-group">
								<button class="btn btn-sm btn-shadow btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Expor</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#!">.pdf</a>
									<a class="dropdown-item" href="#!">Another action</a>
									<a class="dropdown-item" href="#!">Something else here</a>
								</div>
							</div>
						</div>-->

						<!-- Add button -->
						<div class="col-md d-flex flex-row-reverse">
							<button class="btn btn-sm btn-shadow btn-primary" onclick="location.href = 'transaction/create';">Tambah</button>
						</div>
					</div>

					<!-- Table -->
					<div class="row mb-3">
						<div class="col-md">
							<div class="table-responsive">
								<table class="table table-bordered table-striped m-b-0">
									<thead>
										<tr>
											<th style="width: 1%;">No</th>
											<th>Transaksi</th>
											<th>Jumlah produk</th>
											<th>Aksi</th>
										</tr>
									</thead>
									<tbody>
										{% for transaction in data.transactions %}
											<!-- Start list -->
											<tr class="table-primary">
												<td>{{ loop.index }}</td>
												<td>{{ 'Transaksi [' + transaction.nomor_transaksi + ' - ' + transaction.nama_pelanggan + '] pada ' + transaction.tanggal_transaksi.strftime('%A, %d %B %Y') }}</td>
												<td></td>
												<td class="text-right">
													<button class="btn btn-sm btn-shadow btn-warning" onclick="location.href = `{{ url_for('transaction_form', uuid=transaction.uuid) }}`;">Ubah</button>

													<button class="btn btn-sm btn-shadow btn-danger" onclick="location.href = `{{ url_for('transaction_delete', uuid=transaction.uuid) }}`;">Hapus</button>
												</td>
											</tr>

											{% for item in transaction.transaksi_item %}
												<tr>
													<td>{{ item }}</td>
													<td>{{ '[' + item.kode_produk + '] ' + item.nama_produk }}</td>
													<td colspan="2">{{ item.jumlah_produk }}</td>
												</tr>
											{% endfor %}

											<!-- End list -->
										{% else %}
											<tr>
												<td colspan="4">
													<div class="text-center">Belum ada data.</div>
												</td>
											</tr>
										{% endfor %}

									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- customer-section end -->
	</div>
	<!-- [ Main Content ] end -->
</div>