<script>
	//let table = new DataTable('#table-list', {
	//	// options
	//});
</script>
<div class="pcoded-content">
	<!-- [ breadcrumb ] start -->
	<div class="page-header">
		<div class="page-block">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="page-header-title">
						<h5 class="m-b-10">{{ data.title }}</h5>
					</div>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Ikhtisar</a></li>
						<li class="breadcrumb-item">Master data</li>
						<li class="breadcrumb-item">{{ data.title }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- [ breadcrumb ] end -->

	<!-- [ Main Content ] start -->
	<div class="row">
		<!-- support-section start -->
		<div class="col-md-12 col-xl-12">
			<!--<h5>Header and Footer</h5>
			<hr>-->
			<div class="card">
				<h5 class="card-header">{{ data.title }}</h5>
				<div class="card-body">

					<!-- Action buttons -->
					<div class="row mb-4">

						<!-- Export button -->
						<!--<div class="col-md d-flex flex-row">
							<div class="btn-group">
								<button class="btn btn-sm btn-shadow btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Expor</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#!">.pdf</a>
									<a class="dropdown-item" href="#!">Another action</a>
									<a class="dropdown-item" href="#!">Something else here</a>
								</div>
							</div>
						</div>-->

						<!-- Add button -->
						<div class="col-md d-flex flex-row-reverse">
							<button class="btn btn-sm btn-shadow btn-primary" onclick="location.href = 'transaction/create';">Tambah</button>
						</div>
					</div>

					<!-- Table -->
					<div class="row mb-3">
						<div class="col-md">
							<div class="table-responsive">
								<table class="table table-bordered m-b-0">
									<thead>
										<tr>
											<th style="width: 1%;">No</th>
											<th>Transaksi</th>
											<th>Jumlah produk</th>
										</tr>
									</thead>
									<tbody>
										<!-- Start list -->
										<tr class="table-primary">
											<td>1</td>
											<td colspan="2">[TRN-001 - Siti] pada tanggal 01/01/2019</td>
										</tr>

										<tr>
											<td></td>
											<td>Etabion</td>
											<td>1</td>
										</tr>
										<tr>
											<td></td>
											<td>Inj della</td>
											<td>1</td>
										</tr>
										<tr>
											<td></td>
											<td>Amoxcillin</td>
											<td>1</td>
										</tr>
										<tr>
											<td></td>
											<td>Ambroxol</td>
											<td>1</td>
										</tr>
										<!-- End list -->

										<!-- Start list -->
										<tr class="table-primary">
											<td>2</td>
											<td colspan="2">[TRN-002 - Saparidah] pada tanggal 02/01/2019</td>
										</tr>

										<tr>
											<td></td>
											<td>Inj della</td>
											<td>1</td>
										</tr>
										<tr>
											<td></td>
											<td>PCM</td>
											<td>1</td>
										</tr>
										<tr>
											<td></td>
											<td>Amoxcillin</td>
											<td>1</td>
										</tr>
										<!-- End list -->

										<!-- Start list -->
										<tr class="table-primary">
											<td>3</td>
											<td colspan="2">[TRN-003 - Putri Ramadhani] pada tanggal 03/01/2019</td>
										</tr>

										<tr>
											<td></td>
											<td>Hiperdemia</td>
											<td>1</td>
										</tr>
										<tr>
											<td></td>
											<td>Ceftrizin</td>
											<td>1</td>
										</tr>
										<tr>
											<td></td>
											<td>Ambroxol</td>
											<td>1</td>
										</tr>
										<!-- End list -->

										<!-- Start list -->
										<tr class="table-primary">
											<td>4</td>
											<td colspan="2">[TRN-004 - Siti] pada tanggal 04/01/2019</td>
										</tr>

										<tr>
											<td></td>
											<td>Amoxcillin</td>
											<td>1</td>
										</tr>
										<tr>
											<td></td>
											<td>Ambroxol</td>
											<td>1</td>
										</tr>
										<!-- End list -->

										<!-- Start list -->
										<tr class="table-primary">
											<td>5</td>
											<td colspan="2">[TRN-005 - Fauziah Rafifah] pada tanggal 05/01/2019</td>
										</tr>

										<tr>
											<td></td>
											<td>Cotrimoxazole</td>
											<td>1</td>
										</tr>
										<tr>
											<td></td>
											<td>Lacbon</td>
											<td>1</td>
										</tr>
										<!-- End list -->

									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- customer-section end -->
	</div>
	<!-- [ Main Content ] end -->
</div>