<div class="pcoded-content">
	<!-- [ breadcrumb ] start -->
	<div class="page-header">
		<div class="page-block">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="page-header-title">
						<h5 class="m-b-10">{{ data.title }}</h5>
					</div>
					<ul class="breadcrumb">
						<!--<li class="breadcrumb-item"><a href="index.html">Beranda</a></li>-->
						<li class="breadcrumb-item">{{ data.title }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- [ breadcrumb ] end -->

	<!-- [ Main Content ] start -->
	<div class="row">

		<div class="col-xl-12 col-md-12">
			<div class="card">
				<div class="card-header">
					<h5>Profil apotek rumah sakit Ivan Husada</h5>
				</div>
				<div class="pro-scroll" style="height: auto;">
					<div class="card-body">

						<div id="company-description">
							<p>
								Apotek Rumah Sakit Ivan Husada merupakan sarana pelayanan kefarmasian di kota asahan yang tergabung dalam sarana kesehatan Rumah Sakit Ivan Husada. Didirikan oleh bapak Martuah Sinurat, Bse, S.K.M.M.Kes dengan motto “Amanah, Professional, dan Melayani dengan Telitih”. Apotek Rumah Sakit Ivan Husada beralamat di jl. Gatot Subroto No. 243 Kel. Sentang Kec. Kota Kisaran Timur Kab. Asahan.
							</p>
						</div>

						<div id="company-vision">
							<h3>Visi</h3>

							<p>
								“Meningkatkan Kualitas hidup masyarakat dan menjadi lembaga pelayanan kesehatan masyarakat yang terpercaya”
							</p>
						</div>

						<div id="company-mission">
							<h3>Misi</h3>

							<ol>
								<li>Memelihara dan meningkatkan pelayanan kesehatan individu keluarga dan masyarakat beserta lingkungannya.</li>
								<li>Menyediakan pelayanan kesehatan yang efektif dan efisien dengan mengutamakan prinsip kesehatan.</li>
								<li>Meningatkan dan mengembangkan mutu pelayanan.</li>
								<li>Peningkatan keilmuan (Knowledge, Skill, Attitude) dan memberikan kenyamanan kerja kepada para SDM dengan program yang terarah dan terintegrasi.</li>
								<li>Peningkatan kesetaraan dan kerjasama professional dalam sistem pelayanan medis.</li>
								<li>Menjadi mitra bisnis yang menunjang azas kepercayaan demi tercapainya hasil investasi yang optimal.</li>
							</ol>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- [ Main Content ] end -->

	<!-- [ Gallery Content ] start -->
	<div class="row">

		<div class="col-xl-12 col-md-12">
			<div class="card">
				<div class="card-header">
					<h5>Galeri</h5>
				</div>
				<div class="pro-scroll" style="height: auto;">
					<div class="card-body">

						<div class="image-container">
							<img class="image-content" style="width: 300px;" src="{{ url_for('static', filename='images/picture1.jpg') }}">

							<img class="image-content" style="width: 300px;" src="{{ url_for('static', filename='images/picture2.jpg') }}">

							<img class="image-content" style="width: 300px;" src="{{ url_for('static', filename='images/picture3.jpg') }}">
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- [ Gallery Content ] end -->


</div>

{#
<div class="pcoded-content">
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bootstrapModal" data-bs-whatever="@mdo" id="bootstrapModalButton">
		Launch demo modal
	</button>

	<div class="modal fade" id="bootstrapModal" tabindex="-1" aria-labelledby="bootstrapModalLabel" aria-hidden="true"
		role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="bootstrapModalLabel">New message</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label for="recipient-name" class="col-form-label">Recipient:</label>
							<input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="mb-3">
							<label for="message-text" class="col-form-label">Message:</label>
							<textarea class="form-control" id="message-text"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Send message</button>
				</div>
			</div>
		</div>
	</div>

	<button type="button" class="btn btn-primary" id="sweetalertButton">
		Launch demo SweetAlert2
	</button>
</div>#}