<div class="pcoded-content">
	<!-- [ breadcrumb ] start -->
	<div class="page-header">
		<div class="page-block">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="page-header-title">
						<h5 class="m-b-10">{{ data.title }}</h5>
					</div>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{{ url_for('gsp') }}">Perhitungan (GSP)</a></li>
						{#<li class="breadcrumb-item">Ikhtisar</li>#}
						{#<li class="breadcrumb-item">{{ data.title }}</li>#}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- [ breadcrumb ] end -->

	<!-- [ Main Content ] start -->
	<div class="row">

		<!-- Start transaction data (data sets) -->
		<div class="col-xl-12 col-md-12">
			<div class="card">
				<div class="card-header">
					<h5>Data uji (Daftar transaksi)</h5>
				</div>
				<div class="pro-scroll" style="height: auto;">
					<div class="card-body">

						<!-- Main table filter -->
						<form class="row row-cols-12 justify-content-end gy-4 mb-4" action="{{ url_for('gsp_calculation_result', calculation_type=data.calculation_type, per_page=20) }}" method="POST">
							{{ data.form.csrf_token }}

							<div class="col-12 col-md-3 col-sm-auto col-xs-auto text-right">
								<div class="form-floating">
									{#<input class="form-control" type="date" name="tanggal_mulai" placeholder="Tanggal awal" id="floatingStartDate">#}
									{{ data.form.tanggal_mulai(class="form-control", id="floatingStartDate") }}
									<label for="floatingStartDate">{{ data.form.tanggal_mulai.label }}</label>
								</div>
							</div>

							<div class="col-12 col-md-3 col-sm-auto col-xs-auto text-right">
								<div class="form-floating">
									{#<input class="form-control" type="date" name="tanggal_selesai" placeholder="Tanggal akhir" id="floatingEndDate">#}
									{{ data.form.tanggal_selesai(class="form-control", id="floatingEndDate") }}
									<label for="floatingEndDate">{{ data.form.tanggal_selesai.label }}</label>
								</div>
							</div>

							<div class="col-12 col-md-3 col-sm-auto col-xs-auto text-right">
								<div class="form-floating">
									{#<input class="form-control" type="number" name="min_support" value="10" placeholder="Min. Suport" id="floatingMinSupportNumber">#}
									{{ data.form.min_support(class="form-control", id="floatingMinSupportNumber") }}
									<label for="floatingMinSupportNumber">{{ data.form.min_support.label }}</label>
								</div>
							</div>

							<div class="col-auto col-md-auto col-sm-auto col-xs-auto text-right">
								<button type="submit" class="btn btn-primary" style="padding-top: 16px; padding-bottom: 16px;">Hitung GSP</button>
							</div>
						</form>

						<!-- Main table -->
						{#<div class="table-responsive">
							<table class="table table-bordered m-b-0">
								<thead>
									<tr>
										<th style="width: 1%;">No</th>
										<th>Transaksi</th>
										<th>Jumlah produk</th>
									</tr>
								</thead>
								<tbody>
									<!-- Start list -->
									<tr class="table-primary">
										<td>1</td>
										<td colspan="2">[TRN-001 - Siti] pada tanggal 01/01/2019</td>
									</tr>

									<tr>
										<td></td>
										<td>Etabion</td>
										<td>1</td>
									</tr>
									<tr>
										<td></td>
										<td>Inj della</td>
										<td>1</td>
									</tr>
									<tr>
										<td></td>
										<td>Amoxcillin</td>
										<td>1</td>
									</tr>
									<tr>
										<td></td>
										<td>Ambroxol</td>
										<td>1</td>
									</tr>
									<!-- End list -->

									<!-- Start list -->
									<tr class="table-primary">
										<td>2</td>
										<td colspan="2">[TRN-002 - Saparidah] pada tanggal 02/01/2019</td>
									</tr>

									<tr>
										<td></td>
										<td>Inj della</td>
										<td>1</td>
									</tr>
									<tr>
										<td></td>
										<td>PCM</td>
										<td>1</td>
									</tr>
									<tr>
										<td></td>
										<td>Amoxcillin</td>
										<td>1</td>
									</tr>
									<!-- End list -->

									<!-- Start list -->
									<tr class="table-primary">
										<td>3</td>
										<td colspan="2">[TRN-003 - Putri Ramadhani] pada tanggal 03/01/2019</td>
									</tr>

									<tr>
										<td></td>
										<td>Hiperdemia</td>
										<td>1</td>
									</tr>
									<tr>
										<td></td>
										<td>Ceftrizin</td>
										<td>1</td>
									</tr>
									<tr>
										<td></td>
										<td>Ambroxol</td>
										<td>1</td>
									</tr>
									<!-- End list -->

									<!-- Start list -->
									<tr class="table-primary">
										<td>4</td>
										<td colspan="2">[TRN-004 - Siti] pada tanggal 04/01/2019</td>
									</tr>

									<tr>
										<td></td>
										<td>Amoxcillin</td>
										<td>1</td>
									</tr>
									<tr>
										<td></td>
										<td>Ambroxol</td>
										<td>1</td>
									</tr>
									<!-- End list -->

									<!-- Start list -->
									<tr class="table-primary">
										<td>5</td>
										<td colspan="2">[TRN-005 - Fauziah Rafifah] pada tanggal 05/01/2019</td>
									</tr>

									<tr>
										<td></td>
										<td>Cotrimoxazole</td>
										<td>1</td>
									</tr>
									<tr>
										<td></td>
										<td>Lacbon</td>
										<td>1</td>
									</tr>
									<!-- End list -->

								</tbody>
							</table>
						</div>#}

					</div>
				</div>
			</div>
		</div>
		<!-- End transaction data (data sets) -->

	</div>
	<!-- [ Main Content ] end -->

	<!-- [ History Content ] start -->
	<div class="row">

		<!-- Start transaction data (data sets) -->
		<div class="col-xl-12 col-md-12">
			<div class="card">
				<div class="card-header">
					<h5>Riwayat perhitungan GSP</h5>
				</div>
				<div class="pro-scroll" style="height: auto;">
					<div class="card-body">

						{# Page info #}
						<span>(Hal. {{ data.histories.page }})</span>

						{# Table of result #}
						<div class="table-responsive">

							<table class="table table-bordered table-striped m-b-0">
								<thead>
									<tr>
										<th style="width: 1%;">No</th>
										<th>Tanggal perhitungan</th>
										<th>Aksi</th>
									</tr>
								</thead>
								<tbody>
									{% for history in data.histories.items %}

										<!-- Start list -->
										<tr class="">
											<td>{{ loop.index }}</td>
											<td>{{ history.tanggal_masuk.strftime('%A, %d %B %Y') }}</td>
											<td class="text-right">
												<button class="btn btn-sm btn-shadow btn-warning" onclick="location.href = `{{ url_for('gsp_report', uuid=history.uuid) }}`;">Cetak PDF</button>
											</td>
										</tr>
										<!-- End list -->
									{% else %}
										<tr>
											<td colspan="4">
												<div class="text-center">Belum ada data.</div>
											</td>
										</tr>
									{% endfor %}

								</tbody>
							</table>

							{# Pagination #}
							<nav aria-label="Page pagination">
								<ul class="pagination justify-content-center">

									{% if data.histories.has_prev %}
										<li class="page-item">
											<a class="page-link" href="{{ url_for('gsp', page=data.histories.prev_num) }}">
												<span aria-hidden="true">&laquo;</span>
											</a>
										</li>
									{% endif %}

									{% for number in data.histories.iter_pages() %}

										{% if (data.histories.page != number) %}
												{% if (number != None) %}
													<li class="page-item">
														<a class="page-link" href="{{ url_for('gsp', page=number) }}">{{ number }}</a>
													</li>
												{% else %}
													<li class="page-item disabled">
														<span class="page-link">...</span>
													</li>
												{% endif %}
										{% else %}
											<li class="page-item active" aria-current="page">
												<span class="page-link">{{ number }}</span>
											</li>
										{% endif %}

									{% endfor %}

									{% if data.histories.has_next %}
										<li class="page-item">
											<a class="page-link" href="{{ url_for('gsp', page=data.histories.next_num) }}">
												<span aria-hidden="true">&raquo;</span>
											</a>
										</li>
									{% endif %}

								</ul>
							</nav>

						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- End transaction data (data sets) -->

	</div>
	<!-- [ History Content ] end -->
</div>